body {
  background: #4aaaa5;
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}
h1,
h2 {
  color: #4aaaa5;
  font-family: "Georgia", Times, Times New Roman, serif;
  font-size: 18px;
  line-height: 1.3rem;
  letter-spacing: 2px;
}
.header,
.main,
.footer {
  margin: 10px;
}
.header {
  background: #ffffff;
  border: #cccccc;
  height: 50px;
}
h1 {
  margin-left: 400px;
  display: inline;
  background: white;
  padding: 30px;
}
.navbar {
  float: right;
  background: pink;
  margin-right: 100px;
  margin-top: 10px;
}
.current {
  margin-left: 1020px;
}
nav li {
  display: inline;
  margin: 10px;
}
nav li a:hover {
  color: red;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%;
  background: white;
  float: left;
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
}
.side h2 {
  font-weight: bold;
  text-align: center;
}
.main {
  width: 960px;
  background: white;
  float: right;
  position: relative;
  margin-top: 50px;
  margin-left: 20px;
}
.main h3 {
  margin-top: 100px;
  font-weight: bold;
  margin-left: 20px;
  font-size: 16px;
  line-height: 1.2rem;
  letter-spacing: 2px;
  text-indent: 10px;
}
.side img {
  padding: 10px;
  display: block;
  margin: 0px auto;
}
/* section.content{
    width:960px;
    background: #ffffff;
    border: #dddddd;
    z-index: 3;
    position: relative;
    margin-left: 400px;
    margin-top:70px;
    padding:10px 20px;
    background:yellow;
} */
.footer {
  height: 40px;
  margin-top: 170px;
  position: relative;
  clear: both;
  background: #160303;
  color: white;
  text-align: center;
  border-top: 8px solid #4aaaa5;
} /*css for porfolio*/
div.content2 {
  width: 30%;
  background: #ffffff;
  border: #dddddd;

  height: 350px;
  position: relative;
  margin-left: 460px;
  margin-top: 70px;
  padding: 20px 20px;
}
.pic {
  float: left;
  overflow: auto;
}
div img {
  margin-left: 20px;
}
.img {
  position: relative;
  width: 50%;
  height: 50%;
  float: left;
  overflow: clear;
}
a.caption {
  position: absolute;
  background: orange;
  margin-top: 50px;
  margin-left: -119px;
  width: 50%;
}

/*css for contact*/
div.content1 {
  width: 40%;
  background: #ffffff;
  border: #dddddd;
  z-index: 3;

  margin-left: 400px;
  margin-top: 70px;
  padding: 20px 20px;
}
h2,
form > p,
form > input,
form > textarea {
  margin-left: 10px;
  margin-top: 3px;
}
form > input {
  width: 100%;
}
form > input.submit {
  background: #4aaaa5;
  color: white;
  width: 20%;
}
form > textarea {
  width: 100%;
  height: 90px;
}
/*media q*/

@media screen and (max-width: 960px) {
  /*med q for index*/
  .header {
    position: static;
    width: 100%;
  }
  .row {
    width: 100%;
  }
  h1 {
    margin-top: -10px;
    margin-left: 0px;
    font-size: 24px;
  }
  .side,
  .main {
    float: none;
    margin: auto 5px auto 5px;
  }
  .side h2 {
    font-size: 20px;
    font-weight: bold;
  }
  .side img {
    width: 85%;
  }
  .main h3 {
    text-indent: 20px;
    font-size: 16px;
    margin-top: 5px;
    padding: 3px;
    text-align: justify;
    line-height: 1.5rem;
  }
  .footer {
    margin-top: 15px;
  }

  /*med q for contat*/
  div.content1 {
    float: none;
    width: 100%;
    margin: 0px auto;
  }
  form > p,
  form > input,
  form > textarea {
    margin: 10px auto;
    width: 96%;
    float: none;
    font-size: 20px;
  }

  /*media q for porfolio */
  div.content2 {
    float: none;
    margin: 0px auto;
    width: 100%;
    height: auto;
  }
  div.pic {
    width: 100%;
    float: none;
    margin: auto;
  }
  img {
    width: 90%;
    height: 4%;
    float: none;
    display: block;
    margin: 0px auto;
    z-index: 1;
    overflow: auto;
  }
  .img {
    width: 100%;
    margin: 15px auto;
    float: none;
  }
  a.caption {
    width: 60%;
    margin-top: -50px;
    margin-left: 20px;
    display: block;
    overflow: auto;
    z-index: 3;
    font-size: 22x;
    font-weight: bold;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  /*med q for index*/
  .header {
    position: static;
    width: 100%;
  }
  .row {
    width: 100%;
  }
  h1 {
    margin-top: -8px;
    margin-left: 0px;
    font-size: 20px;
  }
  .side,
  .main {
    float: none;
    margin: auto;
  }
  .side h2 {
    font-size: 18px;
    font-weight: bold;
  }
  .side img {
    width: 80%;
  }
  .main h3 {
    font-size: 14px;
    margin-top: 5px;
    padding: 2px;
    text-align: justify;
  }
  .footer {
    margin-top: 15px;
  }

  /*med q for contact*/
  div.content1 {
    float: none;
    width: 100%;
    margin: 0px auto;
  }
  form > p,
  form > input,
  form > textarea {
    margin: 8px auto;
    width: 96%;
    float: none;
    font-size: 18px;
  }

  /*media q for porfolio */
  div.content2 {
    float: none;
    margin: 0px auto;
    width: 100%;
  }
  div.pic {
    width: 100%;
    float: none;
    margin: auto;
  }
  img {
    width: 80%;
    height: 15%;
    float: none;
    display: block;
    margin: 0px auto;
    z-index: 1;
    overflow: auto;
  }
  .img {
    width: 100%;
    margin: 15px auto;
    float: none;
  }
  a.caption {
    width: 50%;
    margin-top: -50px;
    margin-left: 20px;
    display: block;
    overflow: auto;
    z-index: 3;
    font-size: 18px;
  }
}
@media screen and (max-width: 640px) {
  .header {
    position: static;
    width: 100%;
  }
  .row {
    width: 100%;
  }
  h1 {
    margin-left: 0px;
  }
  .side,
  .main {
    float: none;
    margin: auto;
  }
  .main h3 {
    padding: 30px;
    margin-top: 5px;
    margin-left: -22px;
    width: 96%;
  }
  .footer {
    margin-top: 20px;
  }

  /* finished media q for index */

  div.content1 {
    float: none;
    width: 100%;
    margin: 0px auto;
  }
  form > p,
  form > input,
  form > textarea {
    margin: 6px auto;
    width: 96%;
    float: none;
  } /*media q for contact. revisit div (section).content1*/

  /*med for porfolio*/
  div.content2 {
    float: none;
    margin: 0px auto;
    width: 100%;
  }
  div.pic {
    width: 100%;
    float: none;
    margin: auto;
  }
  img {
    width: 100%;
    height: 15%;
    float: none;
    display: block;
    margin-left: 0px auto;
    z-index: 1;
    overflow: auto;
  }
  .img {
    width: 100%;
    margin: 15px auto;
    float: none;
  }
  a.caption {
    width: 50%;
    margin-top: -50px;
    margin-left: 20px;
    display: block;
    overflow: auto;
    z-index: 3;
  }
}
